#myDIV
{
    border: 2px solid black;
    margin-left: 210px;
    padding-bottom: 20px;
    width: 500px;
    padding-left: 320PX;
}

#add,#change
{
    margin-left: 70px;
}

h2
{
    display: flex;
    align-self:center ;
}

#added,#removed
{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    padding: 10px;
    width: 1000px;
}
.design
{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    border : 2px solid black;
    height: 70px;
    align-items: center;
    margin: 10px;
}
.space
{
    display: flex; 
    justify-content: space-around;
    margin : 0 0;
    width: 100px;
}
.btwn
{
    margin : 0 0;
    display: flex;
    align-items: center;
}