#myDIV
{
    border: 2px solid black;
    margin-left: 250px;
    padding-bottom: 20px;
    width: 500px;
    padding-left: 290PX;
    background-color:lightgray ;
    color: white;
    height: 180px;
}

#add,#change
{
    margin-left: 60px;
}

h2
{
    display: flex;
    align-self:center ;
}

#added,#removed
{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 50px;
    padding: 10px;
    width: 1000px;
    /* background-color: black; */
}
.design
{
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    border : 2px solid black;
    height: 70px;
    align-items: center;
    margin: 10px;
    padding: 0 10px;
}
.space
{
    display: flex; 
    justify-content: space-around;
    margin : 0 0;
    width: 100px;
}
.btwn
{
    margin : 0 0;
    display: flex;
    align-items: center;
  
}
h3{
    background-color: black;
    height: 40px;
    color : white;
     width: 982px;
     padding-top: 20px;
}